<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/bo-lyrics.css">
  <title>Lyrics Page</title>
</head>
<body>
  <h1>Inside an Album by Bo Burnham</h1>
  <% if(error) { %>
    <h2><%= error %></h2>
  <% } %>
  <ul>
    <% songs.forEach(song => { %>
      <li>
        <%= song.title %>
          -
        <%= song.playing ? 'Currently Listening' : 'I don\'t wanna know' %>
        <ul>
          <li>
            Lyric Excerpt: <%= song.lyric %>
          </li>
        </ul>
      </li>
      
    <% }) %>
  </ul>
</body>
</html>